@model DtoOperation

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Перевод</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="NumberAccountRecepient">Мой счёт</label>
            <input class="form-control" asp-for="@Model.NumberAccountRecepient" readonly></>
            <span asp-validation-for="NumberAccountSending" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="MyBalance">Balance</label>
            <span asp-validation-for="MyBalance" class="text-danger">@Model.MyBalance</span>
        </div>
        <div class="mb-3">
            <label asp-for="NumberAccountSending">Счет получателя</label>
            <input class="form-control" asp-for="NumberAccountSending" />
            <span asp-validation-for="NumberAccountSending" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="TransferSum">Сумма перевода</label>
            <input class="form-control" asp-for="TransferSum" />
            <span asp-validation-for="TransferSum" class="text-danger"></span>
        </div>


        <button class="btn btn-primary" type="submit">Подтвердить перевод</button>
        <a asp-controller="User" asp-action="Cabinet" class="btn btn-secondary" role="button">Back</a>
    </div>

</form>
